<!--导航栏-->
<nav class="navbar fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">学生请假管理系统</a>
    <a href="/a_login" class="btn btn-primary" role="button" aria-pressed="true">管理员&emsp;:&emsp;  <%if(info==null){%> 登陆 <%}else{%> <%=info%> <%}%></a>
</nav>