<!--首页-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>学生请假管理系统</title>
	<%-include('link.ejs')%>
		<style type="text/css">
		</style>
</head>

<body>
	<div class="container-fluid">

		<%-include('s_top.ejs')%>
		
			<div class="row" style="margin-top: 50px">
				<br>
				<%-include('s_list.ejs')%>
					<div class="jumbotron" style="margin-top: 10px">
						<h1 class="display-4">欢迎使用学生请假管理系统</h1>
						<p class="lead"></p>
						<hr class="my-4">
						<h5 class="font-weight-normal">赵露</h5>
						<h5 class="font-weight-normal">计算机1班</h5>
						<h5 class="font-weight-normal">190110910537</h5>

					</div>
			</div>
	</div>
</body>

</html>