<!--右侧菜单-->
<div class="col-lg-2">


    <div class="list-group list-group-flush">
        <a href="/s_index" class="list-group-item ">首页 </a> 
        <a href="/s_doInfo" class="list-group-item ">我的信息 </a> 
        <a	href="/s_apply" class="list-group-item ">申请请假</a>
         <a	href="s_leave" class="list-group-item ">我的请假记录</a> 
        <a href="/logOut"	class="list-group-item ">退出</a>
    </div>

</div>