<!--右侧菜单-->

<div class="col-lg-2">


    <div class="list-group list-group-flush" >
        <a href="t_index" class="list-group-item ">首页 </a> 
        <a href="/t_doInfo" class="list-group-item ">我的信息 </a> 
        <a	href="/doAppro" class="list-group-item ">审批管理</a>
        <a href="/logOut"	class="list-group-item ">退出</a>
    </div>

</div>