<!--导航栏-->
<nav class="navbar fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">学生请假管理系统</a>
    <a href="/t_login" class="btn btn-primary" role="button" aria-pressed="true">教师&emsp;:&emsp;  <%if(info==null||info=="账号或密码错误"||info=="该学号已注册！"){%> 登录 <%}else{%> <%=info%> <%}%></a>
</nav>